doctype html
html
  head
    meta(charset="utf-8")
    block title
      title Stuart P. Bentley
    link(rel="stylesheet", href="/styles/base.css")
    link(rel="icon", href="stuhat.svg", size="any", type="image/svg+xml")
    link(rel="icon", href="stuhat256b.png", sizes="256x256", type="image/png")
    link(rel="icon", href="stuhat16b.png", sizes="16x16", type="image/png")
    block head
  body: block body
    header: hgroup
      a(href="/"): h1
        img(src="/stuhat.svg")
        span.fn#spb-name
          span.given-name Stuart
          =' '
          abbr.additional-name P.
          =' '
          span.family-name Bentley
      block subtitle
    main: block main
