main {
  margin: 0; padding: 4px 32px;
  background-color: #771818;
  background-image: url("/textures/argyle.svg");
  background-size: 70px 120px;
  background-position: 35px 60px;
  font-family: Open Sans, sans-serif;
}

abbr {
  text-decoration: none;
  border: none;
}

article {
  margin: 16px auto; padding: 16px;
  max-width: 960px;
  background-color: white;
  border-radius: 12px;
  display: block;
}

h2, h3, h4, h5, h6 {
  margin: 0 0 1rem 0; padding: 0;
}

ul {
 margin: 1rem 0; padding: 0 0 0 40px;
}

ul ul {
  margin: 0;
}

a:link, a:visited {
  color: navy;
  text-decoration: none;
}

footer {
  margin: 16px 0;
  display: flex;
  flex-flow: row;
}
footer > * {
  margin: 0; padding: 8px 16px;
  background-color: rgba(255,255,255,.5);
  border-radius: 6px;
}
.about {
  margin-right: 16px;
  flex: 1
}
address {
  font-style: normal;
}
.skills li {
  display: inline-block;
}

.skills li:not(:last-child)::after {
  content: '\2022';
  margin: 0 0.5ch;
}
